@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#d044f7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




@tailwind base;
@tailwind components;
@tailwind utilities;